<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <title>test art template</title>
    <script src="http://jq.yeyese.top/art-template/template-web.js"></script>
    <script src="http://jq.yeyese.top/jq/1.11.1/jquery.js"></script>
    
</head>
<body>

<div id="content1"></div>

<!-- 定义模板 -->
<script id="test1" type="text/html">
    <h3>{{title}}</h3>
    <ul>
        {{each list as value i}}
        <li>{{i + 1}} {{value}}
        {{/each}}
    </ul>

</script>


<script src="ajax.js"></script>
</div>
</body>
<html>  
