
<style>
td:last-child{
	color: red; 
	font-weight: bold;
	}
</style>

<script>
 function yanmsgg()
 {
   if(document.getElementById('numberid').value=='')
   {
    alert('单位名称不能为空！');
    return false;
   }
   if(document.getElementById('msg_jxlianxiren').value=='')
   {
    alert('联系人不能为空！');
    return false;
   }
   if(document.getElementById('msg_jxshouji').value=='')
   {
    alert('手机号码不能为空！');
    return false;
   }

    if (document.getElementById('msg_jxshouji').value.length!=11)
    {
      alert('手机号码填写有误！');
      return false;
    }
    var mobij=document.getElementById('msg_jxshouji').value;
    var reg = /^[\d|\-|\s]+$/;
    if (!reg.test(mobij))
    {
      alert('手机号码填写有误！');
      return false;
    }
 }
</script>


<table cellpadding="10" border="1px solid #ddd">
<tr>
<td>账号:</td>
<td><input id="numberid" type="text"></td>
<td width="200" id="numberid1"></td>
</tr>
<tr>
<td>密码:</td>
<td><input id="pas" type="password" ></td>
<td id="pas1"></td>
</tr>
<tr>
<td>性别：</td>
<td>
	<input type="radio" name="sex" value="男" />男
	<input type="radio" name="sex" value="女" />女
</td>
<td id="sex1"></td>
</tr>
<tr>
<td>选修：</td>
<td>
	<input type="checkbox" name="xk" value="HTML" />HTML
	<input type="checkbox" name="xk" value="CSS" />CSS
	<input type="checkbox" name="xk" value="JavaScript" />JavaScript
</td>
<td id="xk1"></td>
</tr>
<tr>
<td colspan="3" align="center"><input id="btn" type="button" value="提交" onclick="yanmsgg();"></td>
</tr>
</table>
