<style>
td:last-child{color: red; font-weight: bold;}
</style>


<table cellpadding="10" border="1px solid #ddd">
<tr>
<td>账号:</td>
<td><input id="numberid" type="text"></td>
<td width="200" id="numberid1"></td>
</tr>
<tr>
<td>密码:</td>
<td><input id="pas" type="password" ></td>
<td id="pas1"></td>
</tr>


<tr>
<td colspan="3" align="center"><input id="btn" type="button" value="提交"></td>
</tr>
</table>

<script>
window.onload=function(){
var numberid=document.getElementById("numberid");
var numberid1=document.getElementById("numberid1");
var pas=document.getElementById("pas");
var pas1=document.getElementById("pas1")	

var sex1=document.getElementById("sex1");
var xk=document.getElementsByName("xk");
var xk1=document.getElementById("xk1");
var btn=document.getElementById("btn")
btn.onclick=function(){
//判断账号是否为空
if(!numberid.value){
numberid1.innerHTML="账号未填写";
}
//判断密码是否为空
if(!pas.value){
pas1.innerHTML="密码未填写";
}



}
	
}
</script>