<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <title>templateJS模板引擎</title>
    <script src="js/template-web.js"></script>
</head>
<body>

<div id="content1"></div>

<!-- 定义模板 -->
<script id="test1" type="text/html">
    <h3>{{title}}</h3>
    <!--each循环例1-->
    <ul>
        {{each list as value i}}
        <li>{{i + 1}} ：{{value}}
        {{/each}}
    </ul>

    <!--each循环例2-->
    {{each list}}
    <div>{{$index + 1}}: {{$value}}</div>
    {{/each}}
</script>


<!-- 定义数据 -->
<script>
    var data = {
        title: '六大明星热度排行',
        list: ['赵丽颖', '林更新', '刘诗诗', '郑爽', '杨幂', '鹿晗']
    };
//    绑数据到test1模板中
    var html = template('test1', data);  // 数据绑定到模板中
//    在html中显示模板test1
    document.getElementById('content1').innerHTML = html;  // 模板渲染到前台

</script>

</div>
</body>
<html>  
